<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Expense List</h1>
       <a href="{% url 'add_expense_url' %}">Add Expense</a>

        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in allExpense %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.date }}</td>
                    <td>
                        <a href="{% url 'edit_expense_url' item.id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </body>
</html>