<h1>Posts</h1>

<form method="get">
    <input type="text" name="q" placeholder="Search posts..." value="{{ query }}">
    <button type="submit">Search</button>
</form>

<a href="{% url 'post_create' %}">Create New Post</a>

<ul>
  {% for post in posts %}
    <li>
      <strong>{{ post.title }} <span style="color: red">: {{ post.category.name }}</span></strong> <small>body is :{{ post.content }} on <span style="color: red">{{ post.created_at }}</span> </small><br>
      <a href="{% url 'post_update' post.pk %}">Edit</a>
      <a href="{% url 'post_delete' post.pk %}">Delete</a>
    </li>
  {% empty %}
    <li>No posts found.</li>
  {% endfor %}
</ul>

<h1>Category</h1>
<a href="{% url 'category_create' %}">Create New Category</a>
<ul>
  {% for category in categories %}
    <li>
      <strong>{{ category.name }}</strong> <br>
    </li>
  {% empty %}
    <li>No category found.</li>
  {% endfor %}
</ul>

<h1>Category Post</h1>
<ul>
  {% for item in catPost %}
    <li>
      <strong>{{ item.title }}</strong> <br>
    </li>
  {% empty %}
    <li>No item found.</li>
  {% endfor %}
</ul>
