<h1>Posts</h1>

<form method="get">
    <input type="text" name="q" placeholder="Search posts..." value="{{ query }}">
    <button type="submit">Search</button>
</form>

<a href="{% url 'post_create' %}">Create New Post</a>

<ul>
  {% for post in posts %}
    <li>
      <strong>{{ post.title }} <span style="color: red">: {{ post.category.name }}</span></strong> <small>body is :{{ post.content }} on <span style="color: red">{{ post.created_at }}</span> </small><br>
      <a href="{% url 'post_update' post.pk %}">Edit</a>
      <a href="{% url 'post_delete' post.pk %}">Delete</a>
    </li>
  {% empty %}
    <li>No posts found.</li>
  {% endfor %}
</ul>

<h1>Category </h1>
<a href="{% url 'category_create' %}">Create New Category</a>
<ul>
  {% for catItem in categories %}
    <li>
      <strong>{{ catItem.name }}</strong> <br>
    </li>
  {% empty %}
    <li>No category found.</li>
  {% endfor %}
</ul>

<h1>Category Post</h1>
<ul>
  {% for item in catPost %}
    <li>
      <strong>{{ item.title }}</strong> <br>
    </li>
  {% empty %}
    <li>No item found.</li>
  {% endfor %}
</ul>

<button onclick="sendTestNotification()">Send Test Notification</button>



<div id="notifications"></div>

<!-- Notification Sound -->
{% comment %} <audio id="notification-sound" src="{% static 'sounds/notification_sound.mp3' %}" preload="auto"></audio> {% endcomment %}

<script>
  function sendTestNotification() {
      fetch('/send-test-notification/');
  }
  </script>


<script>
var socket = new WebSocket('ws://' + window.location.host + '/ws/notifications/');

socket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];

    // Play the notification sound
    // var sound = document.getElementById('notification-sound');
    // sound.play();
    // sound.volume = 0.7;  // Volume (0 to 1)
    // sound.loop = false;  // If you want it to loop, set it to true
    // sound.play();

    // Display the notification in the notification area
    var notiDiv = document.getElementById('notifications');
    var newNotification = document.createElement('div');
    newNotification.className = "alert alert-info";
    newNotification.innerHTML = message;
    notiDiv.appendChild(newNotification);
};

socket.onclose = function(e) {
    console.error('WebSocket closed unexpectedly');
};


</script>

